/MediaBrowser.sln merge=ours
/MediaBrowser.sln.GhostDoc.xml merge=ours
/LICENSE.md merge=ours
/README.md merge=ours
/.gitignore merge=ours
/Emby.Naming/ merge=ours
/Emby.Server.Unix/ merge=ours
/*/*.csproj merge=ours
